<div class="container mt-5 text-center">
    <h2 class="mb-4">Categorías</h2>
    <div class="row g-4">
      <div class="col-md-4" *ngFor="let category of categories">
        <div class="card shadow-lg border rounded-lg category-card">
          <img [src]="category.image" class="card-img-top category-image" [alt]="category.name">
          <div class="card-body">
            <h5 class="card-title">{{ category.name }}</h5>
            <button class="btn btn-primary">Ver más</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  