<div class="container mt-5">
  <div class="card p-4 shadow" *ngIf="mostrarFormulario">
    <h2 class="mb-4">Inicio de Turno</h2>

    <div class="form-group mb-3">
      <label for="efectivoInicial" class="form-label">Efectivo inicial recibido:</label>
      <input type="number" id="efectivoInicial" class="form-control" placeholder="Ej. 500.00"
        [(ngModel)]="efectivoInicial" min="0" step="0.01" />
    </div>

    <button class="btn-verde w-100 d-flex align-items-center justify-content-center" (click)="iniciarTurno()"
      [disabled]="procesando">

      <ng-container *ngIf="!procesando">Iniciar turno de caja</ng-container>

      <ng-container *ngIf="procesando">
        <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true">
        </span>
        Iniciando...
      </ng-container>
    </button>
  </div>
  <!-- 🔹 Si hay corte activo -->
  <div *ngIf="corteActivo && !mostrarFormulario" class="card p-4 shadow">
    <h2 class="titulo mb-4">Turno activo</h2>
    <p class="subtitulo"><strong>Fecha de inicio:</strong> {{ corteActivo.fechaInicio | date: 'dd/MM/yyyy
      HH:mm':'America/Mexico_City' }} hrs.</p>
    <p class="subtitulo"><strong>Efectivo inicial:</strong> ${{ corteActivo.efectivoInicial | number:'1.2-2' }}</p>

    <button class="btn-gris" (click)="finalizarTurno()">
      Finalizar turno de caja
    </button>
  </div>

</div>

<app-corte-caja-ticket
  *ngIf="mostrarTicketCorte"
  [datosCorte]="datosCorteParaImpresion">
</app-corte-caja-ticket>