/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


/* Asegurar que los Swal siempre est茅n sobre los modales */
.swal2-container {
  z-index: 1500 !important;
  /* M谩s alto que los modales */
}

/*  Bloquea la interacci贸n con los modales mientras Swal est谩 activo */
.swal-active .modal-container {
  pointer-events: none;
  opacity: 0.5;
  /* Opcional: Hace que el modal se vea atenuado */
}


/*  T铆tulos */
.titulo-container {
  text-align: center;
}

.titulo {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #3f58fb;
}

.subtitulo {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

/*  Campos de Entrada */
.input-text {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 180px;
}

.input-text:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

/*  Estilos Base de Botones */

.btn-icono {
  width: 28px;
  height: 28px;
  padding: 0;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  margin: 2px auto;
}

button {
  padding: 10px 16px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.login-logout-button {
  background: linear-gradient(45deg, #4da6ff, #003ae6);
  color: white;
  cursor: pointer;
}

.login-logout-button:hover {
  background: linear-gradient(45deg, #003ae6, #4da6ff);
  box-shadow: 0 4px 8px rgba(23, 0, 230, 0.903);
  cursor: pointer;
  color: yellow;
}

.login-logout-button:disabled,
.login-logout-button[disabled] {
  cursor: not-allowed;
  opacity: 0.6;
}

.login-logout-button:disabled:hover,
.login-logout-button[disabled]:hover {
  background: linear-gradient(45deg, #4da6ff, #003ae6);
  color: white;
}

/*  Bot贸n Amarillo (Advertencias, Pausar) */
.btn-amarillo {
  background: linear-gradient(45deg, #fcd25f, #f6a80c);
  color: black;
}

.btn-amarillo:hover {
  background: linear-gradient(45deg, #f6a80c, #fcd25f);
  box-shadow: 0 4px 8px rgba(255, 204, 0, 0.5);
  color: whitesmoke;
}

.btn-amarillo:disabled,
.btn-amarillo[disabled] {
  cursor: not-allowed;
  opacity: 0.6;
}

.btn-amarillo:disabled:hover,
.btn-amarillo[disabled]:hover {
  background: linear-gradient(45deg, #fcd25f, #f6a80c);
  box-shadow: none;
  color: black;
}


/*  Bot贸n Verde (Finalizar, Confirmar, agregar) */
.btn-verde,
.btn-verde-chico {
  background: linear-gradient(45deg, #6eee72, #008000);
  color: white;
}

.btn-verde:hover,
.btn-verde-chico:hover {
  background: linear-gradient(45deg, #008000, #6eee72);
  box-shadow: 0 4px 8px rgba(3, 102, 3, 0.5);
  color: yellow;
}

.btn-verde:disabled,
.btn-verde[disabled],
.btn-verde-chico:disabled,
.btn-verde-chico[disabled] {
  cursor: not-allowed;
  opacity: 0.6;
}

.btn-verde:disabled:hover,
.btn-verde[disabled]:hover,
.btn-verde-chico:disabled:hover,
.btn-verde-chico[disabled]:hover {
  background: linear-gradient(45deg, #6eee72, #008000);
  color: white;
  box-shadow: none;
}

.btn-verde-chico {
  font-size: small;
  font-weight: 500;
  padding: 3px;
  border-radius: 6px;
}

/*  Bot贸n Gris (Opciones Neutrales) ya es azul*/
.btn-gris,
.btn-gris-chico {
  background: linear-gradient(45deg, #56545f, #3f58fb);
  color: white;
}

.btn-gris-chico {
  font-size: small;
  font-weight: 500;
  padding: 3px;
  border-radius: 6px;
}

.btn-gris:hover,
.btn-gris-chico:hover {
  background: linear-gradient(45deg, #3f58fb, #56545f);
  box-shadow: 0 4px 8px rgba(81, 79, 79, 0.5);
  color: #fbcc6f;
}

.btn-gris:disabled,
.btn-gris[disabled],
.btn-gris-chico:disabled,
.btn-gris-chico[disabled] {
  cursor: not-allowed;
  opacity: 0.6;
}

.btn-gris:disabled:hover,
.btn-gris[disabled]:hover,
.btn-gris-chico:disabled:hover,
.btn-gris-chico[disabled]:hover {
  background: linear-gradient(45deg, #56545f, #3f58fb);
  color: white;
  box-shadow: none;
}

/*  Bot贸n Rojo (Cancelar, etc.) */
.btn-rojo,
.btn-rojo-chico {
  background: linear-gradient(45deg, darkred, gray);
  color: white;
}

.btn-rojo:hover,
.btn-rojo-chico:hover {
  background: linear-gradient(45deg, gray, darkred);
  box-shadow: 0 4px 8px rgb(40, 39, 39);
  color: yellow;
}

.btn-rojo:disabled,
.btn-rojo[disabled],
.btn-rojo-chico:disabled,
.btn-rojo-chico[disabled] {
  cursor: not-allowed;
  opacity: 0.6;
}

.btn-rojo:disabled:hover,
.btn-rojo[disabled]:hover,
.btn-rojo-chico:disabled:hover,
.btn-rojo-chico[disabled]:hover {
  background: linear-gradient(45deg, darkred, gray);
  color: white;
  box-shadow: none;
}

.btn-rojo-chico {
  font-size: small;
  font-weight: 500;
  padding: 3px;
  border-radius: 6px;
}

/*  Bot贸n Rojo tache (limpiar campos) */
.btn-rojo-tache {
  background: linear-gradient(45deg, rgb(236, 230, 230), rgb(255, 0, 0));
  color: white;
}

.btn-rojo-tache:hover {
  background: linear-gradient(45deg, rgb(255, 0, 0), rgb(236, 230, 230));
  box-shadow: 0 4px 8px rgb(14, 1, 155);
  color: yellow;
}

.btn-rojo-tache:disabled,
.btn-rojo-tache[disabled] {
  cursor: not-allowed;
  opacity: 0.6;
}

.btn-rojo-tache:disabled:hover,
.btn-rojo-tache[disabled]:hover {
  background: linear-gradient(45deg, rgb(236, 230, 230), rgb(255, 0, 0));
  color: white;
  box-shadow: none;
}

/* En styles.css o styles.scss */
:root {
  --fondo-modal: #f1fbfb;
  --fondo-tabla-impar: #c3e8fb;
  --fondo-tabla-par: #93d6fd;
  --fondo-tabla-header: #4fbeff;
}

/*  Tabla */
.tabla {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.tabla th,
.tabla td {
  border: 1px solid #fecbcb;
  padding: 5px;
  text-align: center;
}

.tabla tr:nth-child(odd) {
  background-color: var(--fondo-tabla-impar);
  /* Color para filas impares */
}

.tabla tr:nth-child(even) {
  background-color: var(--fondo-tabla-par);
  /* Color para filas pares */
}

.tabla th {
  background-color: var(--fondo-tabla-header) !important;
}

/* Tabla de detalle  */
.detalle-tabla-wrapper {
  background-color: white;
  padding: 5px;
  border: 2px solid #2e04fe;
}

.detalle-tabla {
  width: 100%;
  border-collapse: collapse;
  background-color: #f9f9f9 !important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font: bold;
}

.detalle-tabla th,
.detalle-tabla td {
  border: 1px solid #2e04fe;
  padding: 5px;
  text-align: left;
}

.detalle-tabla th {
  background-color: rgb(217, 255, 47) !important;
  text-align: center;
}

.detalle-tabla tr:nth-child(odd) {
  background-color: rgb(210, 253, 210);
  /* Color para filas impares */
}

.detalle-tabla tr:nth-child(even) {
  background-color: rgb(176, 252, 179);
  /* Color para filas pares */
}

.sub-title-tabla {
  color: rgb(122, 18, 18);
  font-weight: bolder;
}

.no-found-error {
  font-size: large;
  color: red;
}

/* ---------- Estilos impresi贸n tickets ---------- */

.total-pagar {
  font-size: 15px;
}

@media print {
  @page {
    margin: 0;
    size: 276pt auto;
  }

  html, body {
    margin: 0 !important;
    padding: 0 !important;
  }

  body * {
    visibility: hidden !important;
  }

  .ticket-impresion,
  .ticket-impresion * {
    visibility: visible !important;
  }

  .ticket-impresion {
    width: 259pt !important; /* 276pt - (2 * 8.5pt) */
    margin-left: 8.5pt !important;
    margin-right: 8.5pt !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    font-size: 12px !important;
    line-height: 1.4 !important;
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
  }
}

 .productos {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.productos th,
.productos td {
  font-size: 14px;
  padding: 2px;
  word-wrap: break-word;
}

.productos th:nth-child(4),
.productos td:nth-child(4) {
  text-align: right;
}

.productos-header-lineBottom {
  border-bottom: 1px solid black;
}